<form action="{{ formAction }}" method="POST" class="form-horizontal">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}
    <div class="form-group">
        <label for="form-talk-title" class="col-sm-2 control-label">Talk Title</label>
        <div class="col-sm-10">
            <input id="form-talk-title" type="text" name="title" class="form-control" placeholder="Talk Title" value="{{ title }}" maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-description" class="col-sm-2 control-label">Description/Abstract</label>
        <div class="col-sm-10">
            <textarea id="form-talk-description" name="description" class="form-control" placeholder="Give a description of your talk (Abstract)" rows="10">{{ description }}</textarea>
            <p class="help-block">Speaker abstract can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-type" class="col-sm-2 control-label">Best Day</label>
        <div class="col-sm-10">
            <select id="form-talk-type" name="type" class="form-control">
                <option value="css" {% if type == 'css' %}selected {% endif %}>CSS Day</option>
                <option value="browser" {% if type == 'browser' %}selected {% endif %}>Browser Day</option>
                <option value="node" {% if type == 'node' %}selected {% endif %}>Node Day</option>
                <option value="any" {% if type == 'any' %}selected {% endif %}>Any</option>
            </select>

            <p class="help-block">What day do you think this would be best on?
            If you're not sure, or feel like your talk could go on multiple days,
            go ahead and pick one, or put 'any'. If selected, your talk may or
            may not end up on that day depending on where the curators think it
            works best.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-other" class="col-sm-2 control-label">Additional Talk Information</label>
        <div class="col-sm-10">
            <textarea id="form-talk-other" name="other" class="form-control" placeholder="Other considerations such as the talk requiring multiple speakers, a unique AV setup, prior art, demos that speak to how this talk will flow/go, etc." rows="10">{{ other }}</textarea>


            <p class="help-block">Any additional information about your talk you
            think we should know. Example: slides of this talk, a video, or anything
            else helpful.
            <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown supported.</a></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>
